@charset "UTF-8";

body {
  background-color:rgba(211, 211, 211, 0.432)
}

#container .texto {
text-align: justify;
text-indent: 1.5rem;
border-radius: 4px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.74);
width: 500px;
margin: 20px;
padding: 5px;
background-color: rgba(0, 191, 255, 0.164);
}

.titulo {
  background-color: rgba(255, 182, 193, 0.493);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px white;
  border: 4px double darkblue;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
  width: 500px;
  height: 50px;
  padding:10px 10px 10px 10px;
  
}
.fig {
  background-color: rgba(255, 105, 180, 0.582);
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50% 50%;
  margin-top: 50px;
}
.text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 30px;
  font-weight: 700;
}

a {
  text-decoration:none; 
  color:white;
}
a:hover {
  color:crimson;
}