@charset "UTF-8";

.inline-box {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: darkmagenta;
  color:white;
  display: inline-block;
}

.block {
  background-color: crimson;
  color:white;
  display:block;
  margin:10px;
}

.invisible {
  display:none; /*elemento desaparece*/
}

.static {
  position:static;
  background-color: aqua;
  width: 100px;
  height: 100px;
}

.relative {
  position: relative;
  background-color: #133a58;
  color:#fff;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  top:100px;
  left:40px;
}

.absolute {
  position:absolute;
  background-color: #964;
  color:white;
  width:100px;
  height: 100px;
  top:2px;
  right: 2px;
}

.relative-container {
  width:300px;
  height: 300px;
  border:1px solid darkred;
  margin-top: 120px;
  position: relative;
}

.absolute-1, 
.absolute-2 {
  width:50px;
  height: 50px;
  background-color: #422874;
  position:absolute;
}

.absolute-1 {
  top: 10px;
  left: 10px;
}

.absolute-2 {
  bottom:10px;
  right: 10px;
}

.fixed {
  width: 100px;
  height: 100px;
  background-color: rgb(218, 105, 31);
  border: 3px solid rgb(0, 0, 0);
  margin-top: 120px;
  position:fixed;
  top:90px;
  right: 50px;
  bottom: 10px;
} 

.sticky {
  width: 100px;
  height: 100px;
  background-color: rgb(214, 214, 168);
  border: 3px solid greenyellow;
  position:sticky;
  top: 10px; 
}

.absolute-3, .absolute-4, .absolute-5 {
  width:50px;
  height: 50px;
  background-color: #cac1db;
  position:absolute;
}

.absolute-3 {
  top:0;
  left: 0;
  z-index: 3;
}

.absolute-4 {
 top:10px;
 left:10px;
 background-color:#246;
 z-index: 12; 
}

.absolute-5 {
 top:40px;
 left:40px;
 background-color: rgb(233, 174, 24); 
 z-index: 20;
}