@charset "UTF-8";

body {
  background-color: rgba(174, 174, 243, 0.479);
  margin: 20px;
  padding: 10px;
}
h1 {
  background-color: white;
  width: 200px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 139, 0.404);
}
p {
  width: 500px;
  background-color: purple;
  border: 1px solid white;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.253);
  border-radius: 6px;  color:white;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
.especial {
  font-size: 24px;
  color:rgb(235, 37, 70);
  text-decoration: underline;
  text-shadow: 1px 1px white;
}
h4 {
color: rgb(12, 114, 80);
}
