@charset "UTF-8";

.box {
  font-size: 26px;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
  width: 150px;
  height: 150px;
  background-color: #dc143c
  ;
  border-radius:40px;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.233);
  padding:30px;
  margin: auto;
 
}
#flexbox .container {
  display: flex;
  justify-content: space-evenly;
  gap:3px;
  align-items: center;
}

.quadro {
  width: 200px;
  height: 150px;
  background-image: linear-gradient(#e00a35 ,#db5344 , #dc499c);
  margin: auto;
  padding: 10px;
  margin-top: px;
}
#flexbox-qd .container-qd {
  display: flex;
  justify-content: space-evenly;
  gap:3px;
  align-items: center;    
}