@charset "UTF-8";

.parag {
  background-color: black;
  color:aqua;
  font-size: 24px;
}

#especial-title {
 background-color: purple; 
 color:yellow;
 width: 200px;
 padding: 30px;
}
h2 {
  border: 2px solid red;
  width: 300px;
}
#titulo  {
  border:3px solid blue;
}
.subtitulo {
  border: 5px solid green;
}

.color-name {
  width: 250px;
  color:crimson;
  background-color: rgba(255, 140, 0, 0.534);
}
.hex {
  color:#dd56a1;
}